<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="academy.utils.Listeners"></listener>
    </listeners>
    <test name="HomeTest">
        <classes>
            <class name="academy.tests.HomePageTest"></class>
        </classes>
    </test>
    <test name="Login Test">
        <classes>
            <class name="academy.tests.LoginTest"></class>
        </classes>
    </test>
</suite>