<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="basePath">logs</Property>
    </Properties>
    <Appenders>
        <RollingFile name="File" fileName="${basePath}/prints.log"
                     filePattern="${basePath}/prints-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - FILE - %msg%n</pattern>
            </PatternLayout>
            <SizeBasedTriggeringPolicy size="500" />
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="trace"><!--level could be "trace/info/debug/error" -->
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>